#cards{
    background-color: #f9f9f9;
    width: 100%;
    position: absolute;
    box-sizing: border-box
}
#cards .cards-top {
    width: 100%;
    height: 46px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#cards .cards-top:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: solid #fe6e00 1px;
    bottom: -1px;
    left: 0;
    transform: scaleY(0.5);
}
#cards .cards-top li {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    color: #6a6a6a;
    cursor: pointer;
}
#cards .cards-top li.active {
    color: #fe6e00;
    border-bottom: solid;
}

#cards .cards-content{
    margin-top: 20px;
    padding: 0 32px;
}
#cards .cards-content  li{
    margin-top: 30px;
}
#cards .cards-content li label{
    font-weight: normal;
    line-height: 34px;
    margin: 0 15px 0 10px;
    float: left;
}
#cards .cards-content li input{
    height: 34px;
    width: 55%;
    font-size: 14px;
    vertical-align: top;
    border: none;
    background: #f9f9f9;
    outline: medium;
}
#cards .cards-content li .line{
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    height: 5px;
    margin-top: -5px;
}
#cards .cards-content  .btn button{
    width: 160px;
    margin: 25px auto 30px;
    border-radius: 18px;
    background-color: #fe8233;
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    border: none;
    display: block;
    outline: none;
}