#me .from{
    padding: 0 31px 0 31px;
}
#me .from li{
    margin-top: 30px;
}
#me .from li input{
    height: 34px;
    width: 55%;
    font-size: 14px;
    vertical-align: top;
    border: none;
    background: #efefef;
    outline: medium;
    margin-left:10px;
    box-sizing: border-box;
}
#me .from li .line{
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    height: 5px;
    margin-top: -5px;
}

#me .from .btn button{
    width: 160px;
    margin: 25px auto 30px;
    border-radius: 18px;
    background-color: #fe8233;
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    border: none;
    display: block;
    outline: none;
}