
*{ margin:0; padding:0;}
ul,li{list-style:none}
img{display:block}
a{ text-decoration:none;}
body{font-size: 14px;}
body,html{
    background:#efefef;
    touch-action: none;
}
i,em{
font-style:normal;
}


html,body{
    width: 100%;
    height: 100%;
}
